postmark-challenge/.env
postmark-challenge/app-env/
postmark-challenge/__pycache__/
**/.DS_Store

philo-agent/services/__pycache__
philo-agent/app-env/
philo-agent/.env

midnight-challenge/midnight-dapp-sample/node_modules
midnight-challenge/new-venv/

google-studio-challenge/__pycache__
google-studio-challenge/.env
google-studio-challenge/venv

